<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>Liste a faire</title>
        <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
        <script  src="./script.js"></script>
</head>
<body>
<div class="card">
    <h1>Trucs a faire</h1>
    <strong>Ajouter un truc a faire</strong>
    <form action="{{ url_for('add') }}" method="POST" >
            <input class="form-control" required type="text" name="todoitem" placeholder="Veuillez rentrer votre tache">
            <input class="form-control" required type="date" name="DateBut" placeholder="Rentrez la date butoire">
            <input value="Ajouter une tache" type="submit"  >

    </form>
        <div >
            <h2>Pas fini</h2>
            <div>
            <ul>
                {% for todo in incomplete %}
                 <li>{{ todo.text }} <br> Date butoire : {{ todo.finito }}<a href="{{ url_for('complete', id=todo.id) }}">Fini ?</a><br> <a href="{{ url_for('delete', id=todo.id) }}">Suppression</a></li>
                {% endfor %}
            </ul>
            </div>
            <h2>Terminé</h2>
            <div class="done">
            <ul>
                {% for todo in complete %}
                <form action="{{ url_for('incomplete', id=todo.id) }}" method="POST">
                <li>{{ todo.text }}     <input class="form-control" required type="date" name="RecoDateBut" placeholder="Rentrez la date butoire"> <input value="Recommencer" type="submit"  >
                    <br>
                    <a href="{{ url_for('delete', id=todo.id) }}">Suppression</a></li>
                </form> 
                {% endfor %}
            </ul>
          </div>
    </div>
</div>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.bundle.min.js" 
    integrity="sha384-/bQdsTh/da6pkI1MST/rWKFNjaCP5gBSY4sEBT38Q/9RBh9AH40zEOg7Hlq2THRZ" crossorigin="anonymous">
</script>

</body>
</html>
